@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
}

body{
    overflow-x: hidden;
}

.cabecalho {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #75baa8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    z-index: 20;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
    font-family: 'Urbanist', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.cabecalho img{
    margin-left: 50px;
}

.lista-menu li a:hover{
    border-bottom: solid 2px #fff;
    padding-bottom: 3px;
}

.lista-menu{
    margin-right: 50px;
    list-style: none;
    display: flex;
}

.lista-menu li{
    letter-spacing: 3px;
    margin-left: 32px;
}
.conteudo-slider {
    background-color: #d2d2d2;
    width: 100vw; 
    padding-top: 70px;
    flex-direction: column;
    height: 590px;
}

main{
    background-color: #d2d2d2;
    color: black;
    margin-top: 100px;
    height: 92vh;
    padding-top: 10px;
}

.imagem-curso{
    margin-top: 50px;
    height: 100px;
    width: 100px;
    background-color: #142433;
}

.detalhe-curso h2{
    color: black;
}

.detalhe-curso p{
    color: black;
}

.detalhe-instituicao h2{
    color: black;
}

.detalhe-instituicao p{
    color: black;
}